.tabs
	display block
	overflow hidden
	&__nav
		font-size 0
		white-space normal
	&__item
		display inline-block
		vertical-align top
		&.tabs__item_active
			.tabs__link
				border-radius 5px
				border 2px solid #4cbaba
				background-color #ffffff
	&__link
		border 2px solid transparent
		padding-top 10px
		padding-right 17px
		padding-bottom 11px
		padding-left 16px
		display block
		color #292929
		font-family $mM
		font-weight normal
		font-size 14px
		text-transform uppercase
		text-decoration none
		tr(all .3s ease)
		&:hover,
		&:focus
			color #292929
			text-decoration none
		+r($t)
			padding-right 11px
			padding-left 11px
			font-size 12px
	&__tab
		display none
	&__tab_active
		display block
		font-size 14px

