mixin breadcrumbs()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(href='', rel='v:url', property='v:title') Изделия для промышленных зданий


mixin breadcrumbs-subcategory()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					a(href='', rel='v:url', property='v:title') Изделия для промышленных зданий
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Колонны

mixin breadcrumbs-card()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					a(href='', rel='v:url', property='v:title') Изделия для промышленных зданий
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					a(href='', rel='v:url', property='v:title') Колонны
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Колонны легкого каркаса верхние рядовые

mixin breadcrumbs-service-1()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Доставка продукции авто и ж/д транспортом



mixin breadcrumbs-service-3()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Изготовление металлоконструкций по индивидуальным размерам


mixin breadcrumbs-service-4()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Услуги лаборатории

mixin breadcrumbs-about()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') О компании

mixin breadcrumbs-history()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') История завода

mixin breadcrumbs-objects()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Наши объекты

mixin breadcrumbs-news()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Новости

mixin breadcrumbs-news-single()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					a(href='', rel='v:url', property='v:title') Новости
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Обновление оборудования

mixin breadcrumbs-vacancies()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Вакансии

mixin breadcrumbs-vacancies-single()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					a(href='', rel='v:url', property='v:title') Вакансии
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Инженер лаборант технолог на производство ЖБИ и растворов бетонных смесей


mixin breadcrumbs-contacts()
	.breadcrumbs
		.container.breadcrumbs__in
			span(xmlns:v='http://rdf.data-vocabulary.org/#')
				span(typeof='v:Breadcrumb')
					a(href='#', rel='v:url', property='v:title') Главная
					| &rsaquo;
				span(rel='v:child', typeof='v:Breadcrumb')
					span.breadcrumb_last(rel='v:url', property='v:title') Контакты
