mixin produce()
	.produce&attributes(attributes)
		h2.produce__title Ежегодно мы производим:
		ul.produce__list
			li.produce__item
				.produce__item-title до 300 000 м3
				.produce__item-text сборного железобетона
			li.produce__item
				.produce__item-title до 35 000 т
				.produce__item-text товарной арматуры
			li.produce__item
				.produce__item-title до 200 000 м3
				.produce__item-text товарного бетона
