include ../form/form


mixin footer()
	footer.footer
		.footer__body
			.container.footer__in
				.row
					.col-md-3.col-sm-3.footer__col
						nav.footer__nav.nav.nav_second
							.nav__title Продукция
							ul.nav__list
								li.nav__item
									a.nav__link(href="#link") Изделия для гражданских зданий
								li.nav__item
									a.nav__link(href="#link") Изделия для промышленных зданий
								li.nav__item
									a.nav__link(href="#link") Фундаменты и элементы нулевого цикла
								li.nav__item
									a.nav__link(href="#link") Изделия для устройства коммуникаций
								li.nav__item
									a.nav__link(href="#link") Элементы дорожного строительства и ограждений
								li.nav__item
									a.nav__link(href="#link") Другие изделия
					.col-md-3.col-sm-3.footer__col
						nav.footer__nav.nav.nav_second
							.nav__title Услуги
							ul.nav__list
								li.nav__item
									a.nav__link(href="#link") Доставка продукции авто и ж/д транспортом
								li.nav__item
									a.nav__link(href="#link") Изготовление металлоконструкций по индивидуальным размерам
								li.nav__item
									a.nav__link(href="#link") Услуги лаборатории

					.col-md-3.col-sm-3.footer__col
						nav.footer__nav.nav.nav_second
							.nav__title Компания
							ul.nav__list
								li.nav__item
									a.nav__link(href="#link") О компании
								li.nav__item
									a.nav__link(href="#link") История завода
								li.nav__item
									a.nav__link(href="#link") Наши объекты
								li.nav__item
									a.nav__link(href="#link") Новости
								li.nav__item
									a.nav__link(href="#link") Вакансии
								li.nav__item
									a.nav__link(href="#link") Контакты

					.col-md-3.col-sm-3.footer__col
						nav.footer__nav.nav.nav_second
							.nav__title Новости
							ul.nav__list
								li.nav__item
									.nav__item-date 12.12.17
									a.nav__link(href="#link") График работы в Новогодние праздники
								li.nav__item
									.nav__item-date 08.11.17
									a.nav__link(href="#link") Налажен выпуск нового вида продукции
								li.nav__item
									.nav__item-date 24.10.17
									a.nav__link(href="#link") Завод получил диплом в номинации «Производство строительных материалов»
		.footer__bottom
			.container.footer__in
				.footer__copyright Разработка и продвижение сайта - <a href="#">Диаграмма</a>



	+form-calc()#popup.mfp-hide

	+form-calc()#popup-2.mfp-hide

	+form-tender()#popup-3.mfp-hide
