.pagination
	margin-top 40px
	display block
	font-family $mM
	+r($t)
		padding-left 0
	&__list,
	.pager
		margin-bottom 0
		font-size 0
		text-align center
	&__item,
	li
		margin-left 8px
		display inline-block
		vertical-align top
		font-size 31px
		&:first-child
			margin-left 0
		+r($t)
			margin-bottom 8px
	&__link,
	a,
	span,
	.facetwp-page
		border 2px solid transparent
		padding 15px 12px
		width 50px
		height 50px
		display block
		font-family $mM
		font-size 14px
		line-height 16px
		color #292929
		text-align center
		text-decoration none
		text-transform uppercase
		border-radius 5px
		tr(background .3s ease)
	&__link,
	a,
	.facetwp-page
		&:hover
			border 2px solid #4CBABA
			color #292929
			line-height 16px
	&__item_active,
	.active
		.pagination__link,
		span
			border 2px solid #4CBABA
			background #fff
			color #292929
.facetwp-pager
	text-align center
	.facetwp-pager-label
		display none
	.facetwp-page
		border 2px solid transparent
		padding 16px 12px
		width 50px
		height 50px
		display inline-block
		vertical-align middle
		font-family $mM
		font-weight normal
		line-height 1
		color #292929
		border-radius 5px
		&:hover,
		&.active
			border 2px solid #4CBABA
			background #fff
			color #292929
			font-family $mB
			font-weight normal
			text-decoration none
