mixin books(data)
  section.books&attributes(attributes)
    .books__container.container
      h2.books__title.title Books
      .books__text We publish books that reflect our values and areas of interest
      .books__categories.flex
        .books__category
          .books__gradient
          picture.books__picture
            source(srcset="assets/images/content/books-img-1.webp" type="image/webp")
            img(src="assets/images/content/books-img-1.jpg", alt="")

          .books__banner
            .books__banner-title Business & career
            .books__banner-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.

          .books__cat-w
            .books__cat-title Business & career

        .books__category
          .books__gradient
          picture.books__picture
            source(srcset="assets/images/content/books-img-2.webp" type="image/webp")
            img(src="assets/images/content/books-img-2.jpg", alt="")

          .books__banner
            .books__banner-title Health & wellness
            .books__banner-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.
          .books__cat-w
            .books__cat-title Health & wellness

        .books__category
          .books__gradient
          picture.books__picture
            source(srcset="assets/images/content/books-img-3.webp" type="image/webp")
            img(src="assets/images/content/books-img-3.jpg", alt="")
          .books__banner
            .books__banner-title Family, parenting & relationship
            .books__banner-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.

          .books__cat-w
              .books__cat-title Family, parenting & relationship

        .books__category
          .books__gradient
          picture.books__picture
            source(srcset="assets/images/content/books-img-4.webp" type="image/webp")
            img(src="assets/images/content/books-img-4.jpg", alt="")

          .books__banner
            .books__banner-title Science, engineering & society
            .books__banner-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.

          .books__cat-w
            .books__cat-title Science, engineering & society

        .books__category
          .books__gradient
          picture.books__picture
            source(srcset="assets/images/content/books-img-5.webp" type="image/webp")
            img(src="assets/images/content/books-img-5.jpg", alt="")

          .books__banner
            .books__banner-title Personal development & growth
            .books__banner-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.

          .books__cat-w
            .books__cat-title Personal development & growth