@font-face
	font-family 'Montserrat-Medium'
	src local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/hinted-subset-Montserrat-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-Montserrat-Medium.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'Montserrat-Bold'
	src local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/hinted-subset-Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-Montserrat-Bold.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'Montserrat-Regular'
	src local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/hinted-subset-Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-Montserrat-Regular.woff') format('woff')
	font-weight normal
	font-style normal

$mR = 'Montserrat-Regular', Verdana, Geneva, sans-serif
$mM = 'Montserrat-Medium', Verdana, Geneva, sans-serif
$mB = 'Montserrat-Bold', Verdana, Geneva, sans-serif

