.products
	display block
	&__in
		padding-top 70px
		padding-bottom 70px
		+r($l)
			padding-top 44px
			padding-bottom 44px
		+r($t)
			padding-top 40px
			padding-bottom 40px
	&__title
		margin-bottom 50px
		@extends .title
		text-align center
		+r($l)
			margin-bottom 31px
	&__list-w
		overflow hidden
	&__list
		margin-right ratio-percentage(-30,1170)
		font-size 0
	&__item
		margin-right ratio-percentage(30,1170)
		width ratio-percentage(360,1170)
		display inline-block
		vertical-align top
		&:last-child
			.products__item-title
				+r($m)
					margin-bottom 0
		+r($l)
			width 47.4%
		+r($m)
			margin-right 0
			width 100%
	&__link
		display block
		text-decoration none
		color #292929
		&:hover
			color #292929
			text-decoration none
			.products__item-title
				text-decoration none
	&__image
		margin-bottom 18px
	&__item-title
		margin-bottom 22px
		font-size 18px
		line-height 28px
		text-decoration underline
		text-transform uppercase
		color #292929
		&:hover
			color #4cbaba
		+r($l)
			font-size 14px
			line-height 18px
		+r($m)
			margin-bottom 31px
