mixin products()
	section.products
		.container.products__in
			h2.products__title Продукция завода
			.products__list-w
				ul.products__list
					li.products__item
						a.products__link(href="#link")
							figure.products__image
								img(src="assets/images/content/product-1.jpg", alt="")
							.products__item-title Изделия для гражданских зданий
					li.products__item
						a.products__link(href="#link")
							figure.products__image
								img(src="assets/images/content/product-2.jpg", alt="")
							.products__item-title Изделия для промышленных зданий
					li.products__item
						a.products__link(href="#link")
							figure.products__image
								img(src="assets/images/content/product-3.jpg", alt="")
							.products__item-title Фундаменты и элементы нулевого цикла
					li.products__item
						a.products__link(href="#link")
							figure.products__image
								img(src="assets/images/content/product-4.jpg", alt="")
							.products__item-title Изделия для устройства коммуникаций
					li.products__item
						a.products__link(href="#link")
							figure.products__image
								img(src="assets/images/content/product-5.jpg", alt="")
							.products__item-title Элементы дорожного строительства и ограждений
					li.products__item
						a.products__link(href="#link")
							figure.products__image
								img(src="assets/images/content/product-6.jpg", alt="")
							.products__item-title Другие изделия
