.about
	display block
	background #ededed
	&__title
		margin-bottom 43px
		padding-right 20px
		@extends .title
		+r($l)
			margin-bottom 27px
	&__text
		margin-bottom 50px
		padding-right 15px
		@extends .wysiwyg
		+r($l)
			margin-bottom 27px
.about_second
	background #FFF
	.about__subtitle
		margin-bottom 18px
		@extends .subtitle
	.about__produce,
	.about__list
		margin-bottom 50px
	.about__list-item
		position relative
		margin-bottom 18px
		padding-left 30px
		&:after
			position absolute
			top 10px
			left 0
			content ''
			width 13px
			height 10px
			background url('../images/general/list-icon-second.svg') 0 0 / cover no-repeat
		&:last-child
			margin-bottom 0
