include ../produce/produce
include ../form/form
include ../team/team



mixin about()
	.about
		h2.about__title Моспромжелезобетон - современное производство ЖБИ и металлоконструкций
		.about__text
			p ОАО «Моспромжелезобетон» - крупное специализированное предприятие, производящее широкий ассортимент изделий из сборного железобетона, товарных арматуры и бетона для промышленных, жилищных, социально-культурных и инженерных объектов. ОАО «Моспромжелезобетон» располагает производственными мощностями для выпуска более 300 тысяч кубических метров сборного железобетона, 200 тысяч кубических метров товарного бктона, 35 тысяч тонн товарной арматуры ежегодно. В числе заказчиков предприятия - столичное правительство, отечественные и иностранные фирмы и организации, ведущие строительство не только в Москве, но и по всей Росии. В номенклатуру изготавливаемой продукции входит более 1000 наименований ЖБИ.
		+produce()


mixin about-second()
	.about.about_second
		.about__row.row
			.about__col.col-md-8
				.about__text
					h2 ОАО «Моспромжелезобетон» ‒ крупное специализированное предприятие

					p Завод производит ассортимент изделий из сборного железобетона, товарных арматуры и бетона для промышленных, жилищных, социально-культурных и инженерных объектов.
					p ОАО «Моспромжелезобетон» располагает производственными мощностями для выпуска более 300 тысяч тонн товарной арматуры ежегодно. В числе заказчиков предприятия ‒ столичное правительство, отечественные и иностранные фирмы и организации, ведущие строительство не только в Москве, но и по всей России. В номенклатуру изготавливаемой продукции входит более 1000 наименований ЖБИ.
					p На предприятии имеется уникальное оборудование по переработке арматурной стали, позволяющее производить холоднокатаную арматуру класса А500Схд с трехсторонним рифлением диаметром от 4 до 12 миллиметров. Оснащение арматурного цеха позволяет переработать и производить ежемесячно до 3000 тонн высококачественной арматуры, в том числе широкоформатных арматурных сеток и объемных каркасов, изготавливаемых на полуавтоматических линиях с программным управлением.
					p Автоматизированные бетоносмесительные  узлы предприятия позволяют изготавливать около 100 составов бетонных смесей, в том числе высокомарочные бетонные смеси. Тесно сотрудничая с ведущими научно-исследовательскими и проектными институтами, ОАО «Моспромжелезобетон» постоянно внедряет новые виды изделий, совершенствует технологию их производства. В последние годы 14 технических предложений, внесенных специалистами предприятия, получили авторские свидетельства и патенты.

				+produce().about__produce

				h2.about__subtitle Наши достижения:

				ul.about__list
					li.about__list-item Премия Совета Министерств СССР за достижения в области строительства
					li.about__list-item Членство в Гильдии предприятий строительной индустрии
					li.about__list-item Диплом Московской торгово-промышленной палаты
					li.about__list-item Диплом в номинации «Производство строительных материалов, изделий и конструкций, инжениринговые услуги, контроль качества строительства (изготовления строительных материалов, изделий и конструкций)»

				+team()

			.about__col.about__col_form.col-md-4
				+form().about__form
