mixin hero()
	section.hero
		.hero__slider.slider
			ul.slider__list
				li.slider__item(style='background-image: url("assets/images/content/banner-img-1.jpg" )')
					.container.slider__in
						.slider__item-w
							h1.hero__title Производим ЖБИ <br/>и бетон <span>более 40 лет!</span>
							.hero__text
								p Нам доверяют снабжение строек самых ответственных <br/>объектов страны!
							a.hero__button.button(href="#button") О компании
								+icon('button-arrow', true).button__icon
				//- li.slider__item(style='background-image: url("assets/images/content/banner-img-1.jpg" )')
				//- 	.container.slider__in
				//- 		.slider__item-w
				//- 			h1.hero__title Производим ЖБИ <br/>и бетон <span>более 40 лет!</span>
				//- 			.hero__text
				//- 				p Нам доверяют снабжение строек самых ответственных <br/>объектов страны!
				//- 			a.hero__button.button(href="#button") О компании
				//- 				+icon('button-arrow', true).button__icon
				//- li.slider__item(style='background-image: url("assets/images/content/banner-img-1.jpg" )')
				//- 	.container.slider__in
				//- 		.slider__item-w
				//- 			h1.hero__title Производим ЖБИ <br/>и бетон <span>более 40 лет!</span>
				//- 			.hero__text
				//- 				p Нам доверяют снабжение строек самых ответственных <br/>объектов страны!
				//- 			a.hero__button.button(href="#button") О компании
				//- 				+icon('button-arrow', true).button__icon
