.hero
	display block
	color #ffffff
	overflow hidden
	&__title
		margin 0
		margin-bottom 30px
		font-size 80px
		font-family $mB
		font-weight normal
		line-height 1.225
		text-transform uppercase
		color #ffffff
		span
			color #4cbaba
		+r($l)
			font-size 50px
		+r($tL)
			font-size 31px
		+r($m)
			margin-bottom 15px
			font-size 20px
	&__text
		margin-bottom 50px
		color #fff
		font-size 36px
		line-height 46px
		+r($l)
			font-size 22px
			line-height 29px
		+r($tL)
			font-size 14px
			line-height 18px
.slider
	&__list
		margin-bottom 0
		font-size 0
	&__item
		background-size cover
		object-fit cover
		height 760px
		+r($l)
			height 475px
		+r($tL)
			height 475px
	&__in
		position relative
		height 760px
		text-align center
		+r($l)
			height 475px
		+r($tL)
			height 475px
	&__item-w
		position absolute
		top 50%
		left 50%
		width 100%
		transform translate(-50%, calc(-50% - 12px))
		+r($m)
			padding-left 10px
			padding-right 10px
	.slick-arrow
		z-index 1
		width 40px
		height 40px
		background url('../images/general/slider-arrow.svg') 0 0 / cover no-repeat
		hide-text()
		opacity 1
		tr(all .3s ease)
		+r($t)
			width 20px
			height 20px
		&:hover
			background url('../images/general/slider-arrow.svg') 0 0 / cover no-repeat
			opacity .8
		&.slick-prev
			left 92px
			transform translateY(-50%) rotate(180deg)
			+r($l)
				left 10px
		&.slick-next
			right 92px
			+r($l)
				right 10px
