include ../form/form


mixin history()
	+b.history&attributes(attributes)
		.history__row.row
			.history__col.col-md-8
				h2.history__subtitle Главные даты и события

				ul.history__list
					li.history__item
						span.history__year 1952 г.
						span.history__desc — объединение «Черкизовского бетонного завода» с «Заводом шлакоблоков и архитектурных деталей» в единое предприятие «Завод железобетонных изделий № 18»
					li.history__item
						span.history__year 1958 г.
						span.history__desc — вход в систему «Главмоспромстройматериалов»
					li.history__item
						span.history__year 1958-1961 гг.
						span.history__desc — l этап реконструкции
					li.history__item
						span.history__year 1964-1965 гг.
						span.history__desc — ll этап реконструкции
					li.history__item
						span.history__year 1972-1989 гг.
						span.history__desc — lll этап реконструкции
					li.history__item
						span.history__year 1989 г
						span.history__desc — завод награжден Премией Совета Министров СССР за достижения в области строительства
					li.history__item
						span.history__year 1990 г.
						span.history__desc — присоединение к Межхозяйственному предприятию «Моспромжелезобетон»
					li.history__item
						span.history__year 9 января 1992 г.
						span.history__desc — преобразование предприятия в Акционерное общество открытого типа «Моспромжелезобетон»
					li.history__item
						span.history__year 2001 г.
						span.history__desc — полная реконструкция одного из цехов и начало выпуска сборных железобетонных блоков обделки Лефортовского и Серебряноборского тоннеля Третьего транспортного кольца. Февраль
					li.history__item
						span.history__year Февраль 2002 г.
						span.history__desc — завод отметил свое 50-ти летие

				h2.history__subtitle Подробнее

				.history__text
					a.history__image(href="assets/images/content/history-img.jpg")
						img(src="assets/images/content/history-img.jpg", alt="history image")
					p История ОАО «Моспромжелезобетон» (МПЖБ) началась в 1952 г. в Черкизове, где были расположены два небольших производства — Черкизовский бетонный завод и Завод шлакоблоков и архитектурных деталей. С их объединения началось развитие и становление Завода железобетонных изделий №18, с первых дней своего существования активно включившегося в послевоенное восстановление народного хозяйства страны. С 1958 года предприятие вошло в систему Главмоспромстройматериалов, специализируясь на выпуске изделий для строительства и реконструкции промзданий.
					p Последовательная реконструкция завода (I этап — 1958-1961 гг., II — 1964-1965 гг., III — 1972-1989 гг.) сопровождалась постоянным увеличением производственных площадей и нарастающими объемами выпускаемой продукции, освоением ее новых видов, внедрением самых передовых технологий, технической модернизацией оборудования основных и вспомогательных производств.
					p Уже в 60-е годы завод одним из первых в стране освоил выпуск сложных инженерных конструкций — крупногабаритных преднапряженных железобетонных ферм и балок для перекрытия 18-24-метровых пролетов промышленных цехов и пространственных сооружений. На предприятии стали изготавливать другие изделия особого назначения — плиты аэродромных покрытий, колонны и фундаменты, рассчитанные на нагрузку 900 и более тонн, другую ответственную продукцию.
					p С использованием продукции МПЖБ возводились новые корпуса таких промышленных гигантов Москвы, как «Серп и Молот», «ЗИЛ», «Борец», «Фрезер», уникальные спортивные сооружения Олимпиады-80, здание Дома Правительства РФ, взлетно-посадочные полосы аэродромов, покрытия автодорог. Предприятие помогало осваивать нефтеносные территории Западной Сибири, отгружая свои изделия в Тюмень. Десятки километров разделительных полос и сотни крупногабаритных элементов для инженерных сооружений МКАД — это тоже славные страницы участия коллектива МПЖБ в строительстве Москвы.
					p В 1989 году МПЖБ награжден Премией Совета Министров СССР за достижения в области строительства. Тогда же завод, переименованный в «Комбинат железобетонных изделий № 18», в 1990 году вошел в состав созданного на его основе Межхозяйственного предприятия «Моспромжелезобетон», которое 9 января 1992 года решением общего собрания коллектива преобразовано в Акционерное общество открытого типа «Моспромжелезобетон».
					p Общий спад экономики и промышленного строительства в 90-х годах заставил искать новые формы организации работ и хозяйственной деятельности. В том, что комбинат сумел адаптироваться к рыночным условиям, немалая заслуга его руководителя — генерального директора МПЖБ Алексея Дмитриевича Савватеева, возглавлявшего комбинат с 1978 по 2009 год.
					p С 2001 года МПЖБ, произведя полную реконструкцию одного из цехов, приступил к выполнению ответственного заказа Правительства Москвы — изготовлению сборных железобетонных блоков обделки Лефортовского и Серебряноборского тоннеля Третьего транспортного кольца. А в 2003 году эти туннели уже были введены в эксплуатацию.
					p Также заводом была отработана технология производства трамвайных плит блочной конструкции с повышенной виброшумозащитой и долговечностью; организовано производство арматурной стали А500Схд диаметром от 4,0 до 12,0 мм; освоен выпуск высокопрочных бетонов до 1000-1200 кг/см2.
					p МПЖБ ввел технологии производства высокоточных железобетонных блоков диаметром 6,0 м водонерпоницаемой сборной обделки Строгинской линии метрополитена и блоков диаметром 3,2 м для инженерно-коммуникационных сетей.
					p Сегодня МПЖБ — один из крупнейших в стране производителей железобетонных конструкций, применяемых в строительстве самых ответственных инженерных сооружений и промышленных зданий.
					p В феврале 2002 года коллектив отметил свое 50-летие.

			.history__col.col-md-4
				+form-feedback().history__form


