mixin clients()
	section.clients
		.container.clients__in
			h2.clients__title Клиенты завода
			.clients__list-w
				ul.clients__list
					li.clients__item
						a.clients__link(href="#link")
							img(src="assets/images/content/client-1.png", alt="")
					li.clients__item
						a.clients__link(href="#link")
							img(src="assets/images/content/client-2.png", alt="")
					li.clients__item
						a.clients__link(href="#link")
							img(src="assets/images/content/client-3.png", alt="")
					li.clients__item
						a.clients__link(href="#link")
							img(src="assets/images/content/client-4.png", alt="")
					li.clients__item
						a.clients__link(href="#link")
							img(src="assets/images/content/client-5.png", alt="")
					li.clients__item
						a.clients__link(href="#link")
							img(src="assets/images/content/client-6.png", alt="")
					li.clients__item
						a.clients__link(href="#link")
							img(src="assets/images/content/client-7.png", alt="")
					li.clients__item
						a.clients__link(href="#link")
							img(src="assets/images/content/client-8.png", alt="")
