.main
	display block
	&__in
		padding-top 70px
		padding-bottom 90px
		clr()
		+r($l)
			padding-top 44px
			padding-bottom 56px
		+r($t)
			padding-top 40px
			padding-bottom 40px
		+r($m)
			padding-bottom 0
	&__title
		margin-bottom 43px
		@extends .title
		text-align center
		+r($l)
			margin-bottom 27px
	&__text
		margin-bottom 43px
		padding-right 15px
		@extends .wysiwyg
		+r($l)
			margin-bottom 27px
