mixin discount()
	.discount&attributes(attributes)
		.discount__title Скидки!
		a.discount__item(href="#") Колонны легкого каркаса верхние фасадные, марки КВФ
		.discount__price от 4 200 р.
		.discount__note Минимальный заказ 10 ед.
