.catalog
	&__in
		padding-top 70px
		padding-bottom 70px
		+r($l)
			padding-top 44px
			padding-bottom 44px
		+r($t)
			padding-top 27px
			padding-bottom 27px
	&__title
		margin-top 0
		margin-bottom 50px
		@extends .title
		text-align center
		+r($l)
			margin-bottom 37px
		+r($t)
			margin-bottom 23px
	&__nav
		margin-bottom 40px
		font-size 0
		text-align center
	.facetwp-loading
		margin auto
	&__nav-item,
	.facetwp-radio,
	.facetwp-checkbox,
	.catalog__nav-link,
	.facetwp-link
		border 2px solid transparent
		padding-top 10px
		padding-right 16px
		padding-bottom 11px
		padding-left 18px
		display inline-block
		vertical-align top
		background-image none
		color #292929
		font-family $mM
		font-weight normal
		font-size 14px
		text-transform uppercase
		border-radius 5px
		&.current-menu-item,
		&.checked,
		&.checked-second,
		&.is-active
			border-radius 5px
			border 2px solid #4cbaba
			background-image none
			background-color #ffffff
			tr(all .3s ease)
			&:hover
				border 2px solid #4cbaba
				color #292929
				text-decoration none
				tr(all .3s ease)

		&.is-passive,
		&:hover
			border 2px solid #4cbaba
		&:first-child
			position relative
			padding-left 30px
			padding-right 30px
			width 0
			text-indent -9999px
			&:after
				position absolute
				top 50%
				left 50%
				content 'Все'
				text-indent 0
				transform translate(-50%, -50%)
	.facetwp-counter
		display none
	&__nav-link
		border 2px solid transparent
		padding-top 10px
		padding-right 16px
		padding-bottom 11px
		padding-left 18px
		display block
		color #292929
		text-decoration none
		tr(all .3s ease)
		&:hover
			color #292929
			text-decoration none
	.catalog__list
		margin-bottom 0
		font-size 0
		text-align left
	&__item
		margin-bottom 18px
		display inline-block
		vertical-align top
		float none
		min-height 336px
		+r($l)
			width 33.3%
		+r($t)
			width 50%
		+r($m)
			width 100%
	&__link
		display block
		text-decoration none
		font-size 16px
		line-height 24px
		color #292929
		letter-spacing tracking(-25, 16)
		&:hover
			color #292929
			text-decoration none
			.catalog__item-title
				text-decoration none
				color #4CBABA
	&__image
		position relative
		margin-bottom 23px
		width 100%
		height 260px
		border 2px solid #eeeeee
		background-color #ffffff
		tr(all .3s ease)
		&:hover
			img
				opacity .9
		img
			position absolute
			top 50%
			left 50%
			display block
			max-width 100%
			height auto
			transform translate(-50%, -50%)

	&__item-title
		margin-bottom 5px
		text-decoration underline
		span,
		i,
		strong
			padding-left 5px
			display inline-block
			vertical-align top
			text-decoration none
			color #4cbaba
	&__item-price
		color #4cbaba
		font-size 24px
		font-family $mB
		font-weight normal
		line-height 43px
		letter-spacing tracking(-25, 24)

.catalog_sub
	position relative



.archive
	.page-header
		#page-title
			display none
