mixin catalog()
	.catalog
		.container.catalog__in
			h1.catalog__title Изделия для промышленных зданий
			ul.catalog__list.row
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-1")
						figure.catalog__image
							img(src="assets/images/content/category-img-1.jpg", alt="")
						.catalog__item-title Панели стеновые
							span (8)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-2")
						figure.catalog__image
							img(src="assets/images/content/category-img-1.jpg", alt="")
						.catalog__item-title Панели стеновые ж/б
							span (17)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-3")
						figure.catalog__image
							img(src="assets/images/content/category-img-1.jpg", alt="")
						.catalog__item-title Панели стеновые ж/б трехслойные
							span (79)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-4")
						figure.catalog__image
							img(src="assets/images/content/category-img-2.jpg", alt="")
						.catalog__item-title Плиты перекрытий ребристые
							span (62)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-5")
						figure.catalog__image
							img(src="assets/images/content/category-img-3.jpg", alt="")
						.catalog__item-title Плиты покрытий ребристые
							span (142)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-6")
						figure.catalog__image
							img(src="assets/images/content/category-img-4.jpg", alt="")
						.catalog__item-title Фермы
							span (7)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-7")
						figure.catalog__image
							img(src="assets/images/content/category-img-5.jpg", alt="")
						.catalog__item-title Балки
							span (185)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-8")
						figure.catalog__image
							img(src="assets/images/content/category-img-6.jpg", alt="")
						.catalog__item-title Ригели
							span (72)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-9")
						figure.catalog__image
							img(src="assets/images/content/category-img-7.jpg", alt="")
						.catalog__item-title Колонны
							span (330)
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-10")
						figure.catalog__image
							img(src="assets/images/content/category-img-8.jpg", alt="")
						.catalog__item-title Диафрагмы жесткости
							span (39)


mixin catalog-sub()
	.catalog.catalog_sub
		.container.catalog__in
			h1.catalog__title Колонны

			ul.catalog__nav
				li.catalog__nav-item
					a.catalog__nav-link(href="#nav") Все
				li.catalog__nav-item.current-menu-item
					a.catalog__nav-link(href="#nav") Колонны легкого каркаса
				li.catalog__nav-item
					a.catalog__nav-link(href="#nav") Колонны тяжелого каркаса
				li.catalog__nav-item
					a.catalog__nav-link(href="#nav") Колонны лоджий

			ul.catalog__list.row
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-1")
						figure.catalog__image
							img(src="assets/images/content/subcategory-img-1.jpg", alt="")
						.catalog__item-title Колонны легкого каркаса верхние рядовые
						.catalog__item-price от 4 000 р.
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-2")
						figure.catalog__image
							img(src="assets/images/content/subcategory-img-1.jpg", alt="")
						.catalog__item-title Колонны легкого каркаса верхние фасадные, марки КВФ
						.catalog__item-price от 4 200 р.
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-3")
						figure.catalog__image
							img(src="assets/images/content/subcategory-img-1.jpg", alt="")
						.catalog__item-title Колонны легкого каркаса одноэтажные рядовые, марки КР
						.catalog__item-price от 5 000 р.
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-4")
						figure.catalog__image
							img(src="assets/images/content/subcategory-img-1.jpg", alt="")
						.catalog__item-title Колонны легкого каркаса одноэтажные фасадные, марки КФ
						.catalog__item-price от 4 700 р.
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-5")
						figure.catalog__image
							img(src="assets/images/content/subcategory-img-1.jpg", alt="")
						.catalog__item-title Колонны легкого каркасадвухэтажные рядовые, марки КР
						.catalog__item-price от 9 000 р.
				li.catalog__item.col-md-3
					a.catalog__link(href="#link-6")
						figure.catalog__image
							img(src="assets/images/content/subcategory-img-1.jpg", alt="")
						.catalog__item-title Колонны легкого каркасадвухэтажные рядовые, марки КФ
						.catalog__item-price от 9 500 р.

