mixin examples()
	ul.examples&attributes(attributes)
		li.examples__item
			a.examples__link(href="assets/images/content/example-1.jpg" style="background-image: url('assets/images/content/example-1.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
		li.examples__item
			a.examples__link(href="assets/images/content/example-2.jpg" style="background-image: url('assets/images/content/example-2.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
		li.examples__item
			a.examples__link(href="assets/images/content/example-3.jpg" style="background-image: url('assets/images/content/example-3.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
		li.examples__item
			a.examples__link(href="assets/images/content/example-4.jpg" style="background-image: url('assets/images/content/example-4.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
		li.examples__item
			a.examples__link(href="assets/images/content/example-5.jpg" style="background-image: url('assets/images/content/example-5.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
		li.examples__item
			a.examples__link(href="assets/images/content/example-6.jpg" style="background-image: url('assets/images/content/example-6.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
		li.examples__item
			a.examples__link(href="assets/images/content/example-7.jpg" style="background-image: url('assets/images/content/example-7.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
		li.examples__item
			a.examples__link(href="assets/images/content/example-8.jpg" style="background-image: url('assets/images/content/example-8.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
		li.examples__item
			a.examples__link(href="assets/images/content/example-9.jpg" style="background-image: url('assets/images/content/example-9.jpg');" title="Lorem ipsum dolor sit amet adipiscing elit")
				.examples__w
					.examples__icon
					.examples__text Lorem ipsum dolor sit amet adipiscing elit
