.card
	display block
	&__in
		padding-top 70px
		padding-bottom 70px
		+r($l)
			padding-top 44px
			padding-bottom 44px
		+r($t)
			padding-top 27px
			padding-bottom 27px
	&__title
		margin-top 0
		margin-bottom 50px
		@extends .title
		text-align center
		+r($l)
			margin-bottom 34px
		+r($t)
			margin-bottom 22px
	&__slider-w
		margin-bottom 40px
		overflow hidden
		+r($t)
			margin-bottom 20px
	&__slider
		margin-bottom 15px
		font-size 0
		height 360px
		overflow hidden
	&__slider-item
		width 100%
		display inline-block
		vertical-align top
		cursor pointer
	&__slider-image
		position relative
		width 100%
		height 360px
		border 2px solid #eeeeee
		background-color #ffffff
		img
			position absolute
			top 50%
			left 50%
			display block
			max-width 100%
			height auto
			transform translate(-50%, -50%)
	&__thumbs
		margin-left -15px
		font-size 0
		+r($t)
			margin-left 0
		.slick-current
			.card__thumbs-img
				border 2px solid #4cbaba
	&__thumbs-item
		margin-left 15px
		display inline-block
		vertical-align top
		cursor pointer
		&:last-child
			margin-right 0
		+r($t)
			margin-left 0
	&__thumbs-img
		position relative
		max-width 110px
		height 110px
		border 2px solid #eeeeee
		background-color #ffffff
		overflow hidden
		tr(all .3s ease)
		+r($d)
			max-width 88px
		+r($l)
			max-width 94%
		+r($t)
			margin 0
			max-width 88%
		img
			position absolute
			top 50%
			left 50%
			display block
			max-width 60%
			height auto
			transform translate(-50%, -50%)
			+r($t)
				max-width 30%
			+r($m)
				max-width 50%

	&__discount
		margin-bottom 40px
		+r($t)
			margin-bottom 20px
	&__tabs-nav
		margin-bottom 40px
		+r($t)
			margin-bottom 20px
	&__table
		margin-bottom 40px
		+r($t)
			margin-bottom 20px
	&__actions
		text-align left
		clr()
	&__print,
	&__download,
	&__button
		padding-top 15px
		display inline-block
		vertical-align middle
		height 47px
		+r($t)
			height 44px
	&__button
		padding-top 15px
		float right
		+r($t)
			display block
			width 56%
			font-size 14px
			white-space nowrap
			padding-top 16px
			padding-right 5px
			padding-bottom 10px
			padding-left 5px
	&__print,
	&__download
		margin-right 10px
		padding-top 12px
		padding-right 18px
		padding-bottom 18px
		padding-left 18px
		width 60px
		height 47px
		background-color #eeeeee
		text-indent -9999px
		border-radius 5px
		tr(all .3s ease)
		+r($t)
			margin-bottom 10px
			padding-top 11px
			padding-right 10px
			padding-bottom 6px
			padding-left 10px
			width 44px
			height 44px


		&:hover
			background-color darken(#eeeeee, 10)
		&:last-child
			margin-right 0

	&__print-icon,
	&__download-icon
		width 24px
		height 22px
		display block
		fill #4cbaba
	&__text
		margin-bottom 40px
		@extends .wysiwyg
