mixin press(data)
    section.press
        .press__container.container
            h2.press__title.title Press room
            .press__slider-w
                .press__slider
                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 1
                            .press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugiat nibh. Cras tincidunt lobortis feugiat vivamus at augue.
                            a.press__more(href="#") See more
                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 2
                            .press__text Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugiat nibh. Cras tincidunt lobortis feugiat vivamus at augue.
                            a.press__more(href="#") See more
                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 3
                            .press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugia.
                            a.press__more(href="#") See more

                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 4
                            .press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugiat nibh. Cras tincidunt lobortis feugiat vivamus at augue.
                            a.press__more(href="#") See more
                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 5
                            .press__text Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugiat nibh. Cras tincidunt lobortis feugiat vivamus at augue.
                            a.press__more(href="#") See more
                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 6
                            .press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugia.
                            a.press__more(href="#") See more

                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 7
                            .press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugiat nibh. Cras tincidunt lobortis feugiat vivamus at augue.
                            a.press__more(href="#") See more
                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 8
                            .press__text Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugiat nibh. Cras tincidunt lobortis feugiat vivamus at augue.
                            a.press__more(href="#") See more
                    .press__slide
                        .press__slide-w
                            .press__date 21/08/2020
                            .press__slide-title
                                a.press__link(href="") ABP publishing took part in event 9
                            .press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere urna nec tincidunt praesent semper feugia.
                            a.press__more(href="#") See more

                button.press__arrow.press__arrow_back
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'press__arrow-icon'})

                button.press__arrow.press__arrow_next
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'press__arrow-icon'})