mixin story(data)
    section.story
        .story__container.container
            h2.story__title.title Story
            .story__timeline.flex
                .story__item
                    .story__item-w
                        .story__year 2010
                        .story__item-text AB Publishing is founded in Moscow to produce audiobooks in Russian
                .story__item
                    .story__item-w
                        .story__year 2012
                        .story__item-text Posuere urna nec tincidunt praesent semper feugiat nibh
                .story__item
                    .story__item-w
                        .story__year 2016
                        .story__item-text AB Publishing publishes its first bestseller, Rich Dad, Poor Dad, by Robert T. Kiyosaki
                .story__item
                    .story__item-w
                        .story__year 2017
                        .story__item-text Posuere urna nec tincidunt praesent semper feugiat nibh
                .story__item
                    .story__item-w
                        .story__year 2019
                        .story__item-text The catalogue counts 687 titles in 10 languages.
                .story__item
                    .story__item-w
                        .story__year 2020
                        .story__item-text AB Publishing makes re-branding and creates 4 regional divisions