extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/hero/hero
include /blocks/section/section
include /blocks/about/about
include /blocks/advantages/advantages
include /blocks/products/products
include /blocks/services/services
include /blocks/objects/objects
include /blocks/clients/clients

include /blocks/footer/footer

block head
	- var pageTitle = 'Моспромжелезобетон - главная';

block content
	+header()
	+hero()
	+section()
		.container.section__in
			.row
				.col-md-7
					+about()
				.col-md-5
					+advantages()
	+products()
	+services()
	+objects()
	+clients()
	+footer()
