extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/breadcrumbs/breadcrumbs
include /blocks/main/main
include /blocks/service/service
include /blocks/advantages/advantages
include /blocks/footer/footer

block head
	- var pageTitle = 'Изготовление металлоконструкций по индивидуальным размерам - Моспромжелезобетон';

block content
	+header()
	+breadcrumbs-service-3()
	main.main
		section.main__in.container
			h1.main__title Изготовление металлоконструкций по индивидуальным размерам
			+service-3()
	+advantages-third()
	+footer()
