extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/breadcrumbs/breadcrumbs
include /blocks/main/main
include /blocks/service/service
include /blocks/advantages/advantages
include /blocks/footer/footer

block head
	- var pageTitle = 'Услуги лаборатории - Моспромжелезобетон';

block content
	+header()
	+breadcrumbs-service-4()
	main.main
		section.main__in.container
			h1.main__title Услуги лаборатории
			+service-4()
	+advantages-third()
	+footer()
